@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url(`../src/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf`) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@import 'tailwindcss';

@theme{
    --font-Inconsolata: Inconsolata, "sans-serif";
}