@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../src/assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url(`../src/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf`) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@import 'tailwindcss';

.bg-desktop-layer-1{
    background-image: url("./assets/images/background-desktop.png");
    background-size: cover;
    background-position: 0 75%;
    z-index: 0;
}

.bg-desktop-layer-2{
    background-image: url("./assets/images/pattern-lines.svg");
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: 8.5%;
    z-index: 2;
}

.bg-desktop-layer-3{
    background-image: url("./assets/images/pattern-circle.svg"), url("./assets/images/pattern-circle.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 10%, 10%;
    background-position: 3.75% -10%, 66.9% 65%;
    z-index: 4;
}

.bg-desktop-layer-4-1{
    background-image: url("./assets/images/pattern-squiggly-line-bottom-desktop.svg");
    background-size: 50%;
    background-position: left 75%;
    background-repeat: no-repeat;
    z-index: 6;
}

.bg-desktop-layer-4-2{
    background-image: url("./assets/images/pattern-squiggly-line-bottom-desktop.svg");
    background-size: 50%;
    background-position: 90% 110%;
    background-repeat: no-repeat;
    z-index: 6;
    transform: rotate(90deg);
}

.bg-desktop-layer-5{
    background-image:  url("./assets/images/pattern-squiggly-line-top.svg");
    background-repeat: no-repeat;
    z-index: 6;
    background-position: 100% 10%;
}

@theme{
    --font-Inconsolata: Inconsolata, "sans-serif";
}